body {
    color: black;
    background-image: url(https://i.pinimg.com/564x/7f/c5/35/7fc5354a5fc14a8833260fb65b59c649.jpg);
    margin: 20px;
    font-family: "Bonbon", cursive;
}

/* código omitido */

header {
    border-bottom: solid 2px rgb(245, 255, 110);
    padding: 30px;
    font-size: 45px;
    color: black;
}

img {
    height: 160px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

section {
    padding-left: 30px;
    padding-right: 30px;
}

.categoria-videos img {
    opacity: initial 0,5;
}